
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container>
    <h2>Bu sayfaya erişim yetkiniz yok, kategori sayfasına dönebilirsiniz => <a href="/Category/Index/">Ana Sayfa</a></h2>
</div>
