
@{
    ViewBag.Title = "Page401";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container>
    <h2>Bu sayfaya erişim yetkiniz yok, register sayfasına dönebilirsiniz => <a href="/Register/CustomerRegister/">Ana Sayfa</a></h2>
</div>

