
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page403</title>
</head>
<body>
    <div> 
        <h2>Burası 403 hata sayfası</h2>
    </div>
</body>
</html>
